.containerInput{
    width: 100%;
}

p{
    margin-bottom: 1vh;
    font-size: 13px;
}

select{
    color: var(--black);
    padding: 1.2em 1em;
    width: 100%;
    outline: none;
    border-radius: 4px;
    border: solid 1px var(--subtitle);
    box-sizing: border-box;
    transition: 0.2s;
}

select:focus{
    outline: none;
    border: 1px solid var(--primary);
    box-shadow: inset 3px 0px 0px 0px var(--primary);
    transition: 0.2s;
}

/* select::placeholder {
    color: var(--input-text);
} */

.labelContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
}

select.error{
    border: 1px solid var(--error);
}

p.error{
    color: var(--error);
}

.text-error{
    color: var(--error);
}