.container{
    justify-content: start;
}

.container .btnNoBg{
    color: var(--black);
    font-weight: 400;
}

.btnNoBg:hover, .btnNoBg:focus {
    outline: none;
    color: var(--primary);
    box-shadow: inset 0px -2px 0px 0px var(--primary);
  }

.navegacaoCadastro{
    border-bottom: solid 1px var(--black);
    width: 100%;
}

form{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

form select{
    padding: 1.2em 1em;
    width: 22vw;
    outline: none;
    border-radius: 5px;
    border: solid 1px var(--black);
}

.formCadastro{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.formCadastro .formColuna1{
    display: none;
    flex-direction: column;
    gap: 3vh;
}


.formCadastro .formColuna2{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

li{
    margin-right: 2%;
    padding: 0;
    font-size: 11px;
    list-style-type: none;
    cursor: pointer;
}
li span{
    border-bottom: solid 1px black;
}
.CEP{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.formCadastro .formColuna3{
    display: none;
    flex-direction: column;
    gap: 3vh;
}

.input-container {
    width: 80%;
    margin: 20px auto;
}

textarea {
    width: 30vw;
    height: 30vh;
    padding: 10px;
    font-size: 13px;
    resize: none;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    border: solid 1px var(--black);
}

div p{
    margin-bottom: 1vh;
    font-size: 13px;
}

.btn{
    padding: 0.8em 5em;
    font-size: 1em;
}
