.container h1{
    font-size: 40px;
    margin-bottom: 0;
}

.container p{
    color: var(--black);
}

form select{
    padding: 1.2em 1em;
    width: 22vw;
    outline: none;
    border-radius: 5px;
    border: solid 1px var(--black);
}

.formCadastro .formColuna{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.inputClass{
    width: 35vw;
}

.inputMenor{
    width: 15vw;
}

.formLinha{
    display: flex;
    gap: 3vw;
}

.btn{
    width: 35vw;
}

div p{
    margin-bottom: 1vh;
    font-size: 13px;
}