.container h1{
    font-size: 30px;
    margin-bottom: 0;
}

.container h2{
    color: var(--black);
    font-weight: 500;
    margin: 0.75em;
    text-align: center;
}

.container hr{
    border: 1px solid var(--white);
}

.formCadastro .formColuna{
    display: flex;
    flex-direction: column;
}

.formColuna{
    gap: 2vh;
}

.formCadastro{
    gap: 10vh;
}

.formLinha{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1vh;
}