.container{
    justify-content: start;
}

.imageContainer {
    flex: 1;
    padding: 1em;
}

.imageContainer {
border-radius: 16px 0px 0px 16px;
display: flex;
justify-content: center;
}

.imageContainer img {
border-radius: 8px;
}

.navigationBtn {
    white-space: nowrap;
    color: var(--black);
    background-color: transparent;
    padding: 1em 2em;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition:  0.2s;
}

.navigationBtn:hover {
    color: var(--primary);
}

.navegacaoCadastro{
    border-bottom: solid 1px var(--subtitle);
    width: 100%;
}

.formPerfil{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputWrapper, .formCadastro{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1vh;
}

.formColuna{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}


li{
    margin-right: 2%;
    padding: 0;
    font-size: 11px;
    list-style-type: none;
    cursor: pointer;
}
li span{
    border-bottom: solid 1px black;
}
.CEP{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.formCadastro .formColuna3{
    display: none;
    flex-direction: column;
    gap: 3vh;
}

.input-container {
    width: 80%;
    margin: 20px auto;
}

textarea {
    width: 30vw;
    height: 30vh;
    padding: 10px;
    font-size: 13px;
    resize: none;
    outline: none;
    border-radius: 5px;
    border: solid 1px var(--subtitle);
}

div p{
    margin-bottom: 1vh;
    font-size: 13px;
}

.btn{
    padding: 0.8em 5em;
    font-size: 1em;
}

.btnDelete{
    background-color: transparent;
    color: #ff5757;
    border: none;
    cursor: pointer;
}

.btnDelete:hover{
    color: #ff0000;
}