.sign {
  display: flex;
  margin: 0 auto;
}

.formContainer,
.imageContainer {
  flex: 1;
  padding: 2em;
}

.imageContainer {
  background-color: var(--primary);
  border-radius: 16px 0px 0px 16px;
  display: flex;
  justify-content: center;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.formContainer {
  border: 1px solid var(--white);
  border-left: 0px;
  border-radius: 0px 16px 16px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formTitle{
  font-size: 3em;
  margin: 0;
  color: var(--black);
  text-align: center;
}

.formSubtitle{
  font-size: 0.75em;
  margin-bottom: 3em;
  text-align: center;
  color: var(--subtitle);
}

.formContainer .btn{
  width: 100%;
}

.formContainer input {
  display: block;
  width: 100%;
  padding: 1.5em 2em;
  box-sizing: border-box;
  margin-bottom: 1em;
  border-radius: 8px;
  border: 1px solid var(--white);
  transition: 0.2s;
}

.formContainer input:focus{
  outline: none;
  border: 1px solid var(--primary);
  box-shadow: inset 5px 0px 0px 0px var(--primary);
}

@media screen and (max-width: 768px) {
  .imageContainer {
    display: none;
  }
  .formContainer {
    border: 1px solid var(--white);
    border-radius: 16px;
  }
}
