header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}

.logo {
  margin-left: 2em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profilePic {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  z-index: 1;
}

.dropdown-content a {
  color: var(--black);
  padding: 1em;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--primary);
}

.profilePic:hover .dropdown-content {
  display: flex;
}

.user{
  margin-right: 2em;
}