.search {
  margin: 20px auto;
  max-width: 50%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-row {
  display: flex;
  flex-wrap: wrap;
}

.search-item {
  flex: 1;
  margin: 0 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.divisionLine{
    margin: 0 1em;
    border-bottom: 1px solid #ccc;
}

.searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--black);
}