footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  
  .logo {
    margin-left: 2em;
    height: 5vh;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .btnLogin {
    white-space: nowrap;
    color: var(--black);
    background-color: transparent;
    padding: 1em 2em;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition:  0.2s;
  }
  
  .btnLogin:hover, .btnLogin:focus {
    outline: none;
    color: var(--primary);
  }
  
  .profilePic {
    cursor: pointer;
  }

  .textFooter{
    text-align: end;
    color: var(--primary);
    font-weight: bold;
}