*{
  --primary: hsl(205, 93%, 55%);
  --primary-hover: hsl(203, 93%, 45%);
  --black: hsl(232, 13%, 23%);
  --white: hsl(0, 0%, 90%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}